.body {
    margin: 0;
    padding: 0;
    /* margin-top: 75px; */
    border: 1px solid white !important;
    border-radius: 25px 25px 0px 0px;
    background-color: #fff;
}

.container {
    padding: 10px 15px 0px 15px;
}

.heading {
    display: flex;
}

.heading img {
    margin: 0;
    height: 25.98px;
    width: 30px;
}

.title {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-left: 43px;
}

.textArea {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.inputTrain {
    left: 0;
    width: 143.5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}

.inputDest {
    margin-left: 21.5px;
    width: 143.5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}

.textArea1 input[type="text"] {
    padding-left: 18px;
    padding-bottom: 5px;
}

.textArea1 img {
    position: absolute;
    left: 0;
    width: 11.52px;
    height: 23.5px;
}

.textArea1 input::placeholder {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #929292;
}

.textArea2 input[type="text"] {
    margin-top: 2px;
    position: absolute;
    padding-left: 16px;
    padding-bottom: 5px;
}

.textArea2 .fa-map-marker-alt {
    position: absolute;
    left: 0;
    height: 13.46px;
    width: 9.63px;
    margin-left: 182px;
    margin-top: 4px;
    display: inline;
}

.textArea2 input::placeholder {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #929292;
}

.textArea3 {
    margin-top: 20px;
    position: relative;
}

.Boarding {
    left: 0;
    width: 143.5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 16px;
    padding-bottom: 5px;
}

.textArea3 input::placeholder {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #929292;
}

.textArea3 .fa-calendar-alt {
    position: absolute;
    left: 0;
    height: 11.4px;
    width: 12.02px;
    margin-top: 8px;
}

.dateBox {
    background-color: #e8e8e8;
    color: #ffffff !important;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.dateBox h4 {
    margin: 0;
    font-size: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-style: bold !important;
}

.dateBox .tomorrow,
.dateBox .yesterday {
    color: #999999;
}

.orTab {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex: 1;
}

.orBox1 {
    background-color: #f2f2f2;
    height: 15px;
    width: 154px;
}

.orTab h5 {
    margin: 0;
    margin-left: 10.76px;
    padding: 0;
    width: 18px;
    height: 15px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #000000;
}

.orBox2 {
    background-color: #f2f2f2;
    height: 15px;
    width: 154px;
    margin-left: 10.76px;
}

.pnrArea {
    margin-top: 25px;
    position: relative;
}

.pnrArea input[type="text"] {
    left: 0;
    width: 143.5px;
    padding-left: 18px;
    padding-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}

.pnrArea input::placeholder {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #929292;
}

.pnrArea img {
    position: absolute;
    left: 0;
    width: 11.52px;
    height: 23.5px;
}

.recommended {
    background-color: #e8e8e8;
    height: 34.03px;
    margin-top: 20px;
}

.recommended h6 {
    margin: 0;
    padding-top: 2px;
    display: inline;
    margin-left: 7.7px;
    font-family: "Montserrat", sans-serif;
    color: #212638;
    font-size: 12px;
}

.recommended img {
    margin-left: 15px;
    padding-top: 2px;
    height: 10.73px;
    width: 11.29px;
    font-size: 12px;
}

.cards {
    width: 100%;
    height: 58px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0);
    position: relative;
}

.pnrNo h4 {
    margin: 0;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #000000;
}

.pnrNo p {
    margin: 0;
    position: absolute;
    margin-top: 11px;
    margin-left: 281px;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-style: italic;
    color: #9e9e9e;
}

.trainDetails {
    margin: 0;
    margin-top: 33.38px;
    margin-left: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 10px;
}

.trendingSearch {
    margin-top: 15px;
    background-color: #e8e8e8;
    height: 34.03px;
}

.trendingSearch h6 {
    margin: 0;
    display: inline;
    margin-left: 7.01px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.trendingSearch img {
    margin-left: 15px;
    height: 6px;
    width: 11px;
}

.trendingCard {
    margin-top: 5px;
    margin-left: 5px;
    height: 28px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding: 1px 9px 1px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0);
    box-sizing: content-box;
    display: inline-block;
}

.trendingCard img {
    width: 10.99px;
    height: 6px;
    margin-left: 1px;
}

.trendingCard p {
    margin: 0;
    margin-left: 11px;
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #000000;
}

.container hr {
    margin: 0;
    margin-top: 5px;
}

.footer {
    display: flex;
    flex: 1;
}

.rate {
    position: relative;
    margin-top: 24px;
    background: transparent;
    margin-left: 0px;
}
.rate h4 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: black;
    display: inline;
}

.rate .fa-rupee-sign {
    color: black !important;
    font-size: 15px;
}

.rate h6 {
    margin: 0;
    margin-top: 3px;
    margin-left: 6px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    display: inline;
}

.rate .fa-angle-down {
    margin-left: 82px;
    margin-top: 5px;
    color: #000000;
}

.rate .extra {
    margin: 0;
    width: 126px;
    font-size: 10px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
}

.proceed {
    float: inline-end;
    width: 157px;
    margin-top: 15px;
    right: 0;
    margin-left: 43px;
    border: none;
    border-radius: 5px;
    background-color: #fadb34;
    padding: 8px 25px 8px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.proceed h4 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.proceed p {
    margin: 0;
    width: 110px;
    height: 13px;
    font-size: 9px;
    font-family: "Montserrat", sans-serif;
}
